body {
    margin: 0;
    font-size: 16px;
}
.recommend-area {
    width: 80%;
    margin: 0 auto;
}

.recommend-area h2 {
    text-align: center;
}

.content-area {
    width: 80%;
    margin: 0 auto;
}

.content-area h2 {
    text-align: center;
}

.rss-btn {
    width: 300px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
}

.rss-btn a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    background: #0099FF;
    text-align: center;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.rss-list {
    margin-top: 20px;
    margin-bottom: 20px;
    list-style-type: none;
    padding: 10px 10px;
    color: #333333;
    border-top: 1px solid #d9d9d9;
}
.search-area {
    background-color: #d9d9d9;
    width: 100%;
    height: 100px;
    display: flex;
}
.search-area form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.search-area form input {
    width: 60%;
    height: 40px;
    padding: 5px 7px 5px 10px;
    border: none;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-radius: 10px 0 0 10px;
    font-size: 16px;
}
.search-area button span::before {
    content: '';
    background: url(../img/search.png) left top/contain no-repeat;
    display: block;
    width: 40px;
    height: 40px;
}

.search-area button {
    border: none;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-right: 1px solid;
    background-color:  #FFFFFF;
    border-radius: 0 10px 10px 0;
    padding: 5px;
}
