.content-area {
    width: 80%;
    margin: 0 auto;
}

.content-area h2 {
    text-align: center;
}

.rss-btn {
    width: 300px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
}

.rss-btn a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    background: #0099FF;
    text-align: center;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

.rss-list {
    margin-top: 20px;
    margin-bottom: 20px;
    list-style-type: none;
    padding: 10px 10px;
    color: #333333;
    border-top: 1px solid #d9d9d9;
}